soap/service.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="StockQuote"
             targetNamespace="http://example.com/stockquote.wsdl"
             xmlns:tns="http://example.com/stockquote.wsdl"
             xmlns:xsd1="http://example.com/stockquote.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
       <xsd:schema targetNamespace="http://example.com/stockquote.xsd" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="CustomerRegistrationRequest">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="document" type="string"/>
                      <xsd:element name="name" type="string"/>
                      <xsd:element name="email" type="string"/>
                      <xsd:element name="phone" type="string"/>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>
           <xsd:element name="CustomerRegistrationResponse">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="status">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="success" type="bolean"/>
                            <xsd:element name="code_err" type="string"/>
                            <xsd:element name="message_err" type="string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>

            <xsd:element name="LoadWalletRequest">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="document" type="string"/>
                      <xsd:element name="email" type="string"/>
                      <xsd:element name="phone" type="string"/>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>
           <xsd:element name="LoadWalletResponse">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="status">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="success" type="bolean"/>
                            <xsd:element name="code_err" type="string"/>
                            <xsd:element name="message_err" type="string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>

            <xsd:element name="MakePaymentRequest">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="document" type="string"/>
                      <xsd:element name="senderWallet" type="string"/>
                      <xsd:element name="amount" type="string"/>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>
           <xsd:element name="MakePaymentResponse">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="data">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="token" type="xsd:string"/>
                            <xsd:element name="transactionId" type="xsd:string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="status">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="success" type="bolean"/>
                            <xsd:element name="code_err" type="string"/>
                            <xsd:element name="message_err" type="string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>

            <xsd:element name="ValidatePaymentRequest">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="token" type="string"/>
                      <xsd:element name="transactionId" type="string"/>
                      <xsd:element name="customerId" type="string"/>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>
           <xsd:element name="ValidatePaymentResponse">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="status">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="success" type="bolean"/>
                            <xsd:element name="code_err" type="string"/>
                            <xsd:element name="message_err" type="string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>

            <xsd:element name="GetWalletRequest">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="customerId" type="string"/>
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>
           <xsd:element name="GetWalletResponse">
              <xsd:complexType>
                  <xsd:all>
                      <xsd:element name="data">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="balance" type="float"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="status">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="success" type="bolean"/>
                            <xsd:element name="code_err" type="string"/>
                            <xsd:element name="message_err" type="string"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      
                  </xsd:all>
              </xsd:complexType>
           </xsd:element>

       </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetLastTradePriceInput">
        <wsdl:part name="body" element="xsd1:TradePriceRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLastTradePriceOutput">
        <wsdl:part name="body" element="xsd1:TradePrice"/>
    </wsdl:message>
    <wsdl:portType name="StockQuotePortType">
        <wsdl:operation name="GetLastTradePrice">
           <wsdl:input message="tns:GetLastTradePriceInput"/>
           <wsdl:output message="tns:GetLastTradePriceOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="CustomerRegistrationInput">
        <wsdl:part name="body" element="xsd1:CustomerRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="CustomerRegistrationOutput">
        <wsdl:part name="body" element="xsd1:CustomerRegistrationResponse"/>
    </wsdl:message>
    <wsdl:portType name="StockQuotePortType">
        <wsdl:operation name="CustomerRegistration">
           <wsdl:input message="tns:CustomerRegistrationInput"/>
           <wsdl:output message="tns:CustomerRegistrationOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="LoadWalletInput">
        <wsdl:part name="body" element="xsd1:LoadWalletRequest"/>
    </wsdl:message>
    <wsdl:message name="LoadWalletOutput">
        <wsdl:part name="body" element="xsd1:LoadWalletResponse"/>
    </wsdl:message>
    <wsdl:portType name="StockQuotePortType">
        <wsdl:operation name="LoadWallet">
           <wsdl:input message="tns:LoadWalletInput"/>
           <wsdl:output message="tns:LoadWalletOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="MakePaymentInput">
        <wsdl:part name="body" element="xsd1:MakePaymentRequest"/>
    </wsdl:message>
    <wsdl:message name="MakePaymentOutput">
        <wsdl:part name="body" element="xsd1:MakePaymentResponse"/>
    </wsdl:message>
    <wsdl:portType name="StockQuotePortType">
        <wsdl:operation name="MakePayment">
           <wsdl:input message="tns:MakePaymentInput"/>
           <wsdl:output message="tns:MakePaymentOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:message name="ValidatePaymentInput">
        <wsdl:part name="body" element="xsd1:ValidatePaymentRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidatePaymentOutput">
        <wsdl:part name="body" element="xsd1:ValidatePaymentResponse"/>
    </wsdl:message>
    <wsdl:portType name="StockQuotePortType">
        <wsdl:operation name="ValidatePayment">
           <wsdl:input message="tns:ValidatePaymentInput"/>
           <wsdl:output message="tns:ValidatePaymentOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="GetWalletInput">
        <wsdl:part name="body" element="xsd1:GetWalletRequest"/>
    </wsdl:message>
    <wsdl:message name="GetWalletOutput">
        <wsdl:part name="body" element="xsd1:GetWalletResponse"/>
    </wsdl:message>
    <wsdl:portType name="StockQuotePortType">
        <wsdl:operation name="GetWallet">
           <wsdl:input message="tns:GetWalletInput"/>
           <wsdl:output message="tns:GetWalletOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetLastTradePrice">
           <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
           <wsdl:input>
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output>
               <soap:body use="literal"/>
           </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="StockQuoteService">
        <wsdl:port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
           <soap:address location="http://localhost:15099/stockquote"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>