soap/wallet.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="Wallet" targetNamespace="http://example.com/wallet.wsdl"
    xmlns:tns="http://example.com/wallet.wsdl"
    xmlns:xsd1="http://example.com/wallet.xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/customer.xsd"
            xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="CustomerRegistrationRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="document" type="string"/>
                        <xsd:element name="name" type="string"/>
                        <xsd:element name="email" type="string"/>
                        <xsd:element name="phone" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CustomerRegistrationResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="success" type="bolean"/>
                        <xsd:element name="code_err" type="string"/>
                        <xsd:element name="message_err" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://example.com/wallet.xsd"
            xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="LoadWalletRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="document" type="string"/>
                        <xsd:element name="email" type="string"/>
                        <xsd:element name="phone" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LoadWalletResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="status">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="success" type="bolean"/>
                                    <xsd:element name="code_err" type="string"/>
                                    <xsd:element name="message_err" type="string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://example.com/payment.xsd"
            xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="MakePaymentRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="document" type="string"/>
                        <xsd:element name="senderWallet" type="string"/>
                        <xsd:element name="amount" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MakePaymentResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="token" type="xsd:string"/>
                        <xsd:element name="transactionId" type="xsd:string"/>
                        <xsd:element name="success" type="bolean"/>
                        <xsd:element name="code_err" type="string"/>
                        <xsd:element name="message_err" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://example.com/validatePayment.xsd"
            xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="ValidatePaymentRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="token" type="string"/>
                        <xsd:element name="transactionId" type="string"/>
                        <xsd:element name="customerId" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ValidatePaymentResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="status">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="success" type="bolean"/>
                                    <xsd:element name="code_err" type="string"/>
                                    <xsd:element name="message_err" type="string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://example.com/getWallet.xsd"
            xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="GetWalletRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="customerId" type="string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetWalletResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="data">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="balance" type="float"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="status">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="success" type="bolean"/>
                                    <xsd:element name="code_err" type="string"/>
                                    <xsd:element name="message_err" type="string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CustomerRegistrationInput">
        <wsdl:part name="body" element="xsd1:CustomerRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="CustomerRegistrationOutput">
        <wsdl:part name="body" element="xsd1:CustomerRegistrationResponse"/>
    </wsdl:message>
    <wsdl:message name="LoadWalletInput">
        <wsdl:part name="body" element="xsd1:LoadWalletRequest"/>
    </wsdl:message>
    <wsdl:message name="LoadWalletOutput">
        <wsdl:part name="body" element="xsd1:LoadWalletResponse"/>
    </wsdl:message>
    <wsdl:message name="MakePaymentInput">
        <wsdl:part name="body" element="xsd1:MakePaymentRequest"/>
    </wsdl:message>
    <wsdl:message name="MakePaymentOutput">
        <wsdl:part name="body" element="xsd1:MakePaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidatePaymentInput">
        <wsdl:part name="body" element="xsd1:ValidatePaymentRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidatePaymentOutput">
        <wsdl:part name="body" element="xsd1:ValidatePaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="GetWalletInput">
        <wsdl:part name="body" element="xsd1:GetWalletRequest"/>
    </wsdl:message>
    <wsdl:message name="GetWalletOutput">
        <wsdl:part name="body" element="xsd1:GetWalletResponse"/>
    </wsdl:message>

    <wsdl:portType name="WalletPortType">
        <wsdl:operation name="CustomerRegistration">
            <wsdl:input message="tns:CustomerRegistrationInput"/>
            <wsdl:output message="tns:CustomerRegistrationOutput"/>
        </wsdl:operation>
        <wsdl:operation name="LoadWallet">
            <wsdl:input message="tns:LoadWalletInput"/>
            <wsdl:output message="tns:LoadWalletOutput"/>
        </wsdl:operation>
        <wsdl:operation name="MakePayment">
            <wsdl:input message="tns:MakePaymentInput"/>
            <wsdl:output message="tns:MakePaymentOutput"/>
        </wsdl:operation>
        <wsdl:operation name="ValidatePayment">
            <wsdl:input message="tns:ValidatePaymentInput"/>
            <wsdl:output message="tns:ValidatePaymentOutput"/>
        </wsdl:operation>
         <wsdl:operation name="GetWallet">
           <wsdl:input message="tns:GetWalletInput"/>
           <wsdl:output message="tns:GetWalletOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WalletSoapBinding" type="tns:WalletPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>

    <wsdl:service name="WalletService">
        <wsdl:port name="WalletPort" binding="tns:WalletSoapBinding">
            <soap:address location="http://localhost:15099/soap"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>